/* the styles for the elements */
* {  /*remove all margin and padding*/
    margin: 0;
    padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	margin: 0 auto 0;
	width: 600px;
	border: 3px solid #931420;
	box-shadow: 1px 1px 10px 1px black;
	background-color: #fffded;
}
html {
	background-color: white;
}
a:focus, a:hover {
	font-style: italic;
}

/* the styles for the header */
header h2 {
	font-size: 175%;
	color: blue;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px; /* top-bot 0, right-left 30px */
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
header {
	border-bottom: 3px solid #931420;
	padding: 1.5em 0 2em; /* top 1.5, right-left 0, bot 2em */
	background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

/* the styles for the main content */
main {
	clear: left;
	padding: 0 30px 0; /* left-right 30px */
}
main h1 {
	font-size: 150%;
	margin-bottom: 10px;
	padding: .3em 2em; /* top-bot .3em, left-right 2em */
	border: 3px double #931420;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 2px black;
}
main h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em; /* top-bot */
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	padding: 0 2em 0;  /*left & right */
	font-style: italic;
}
main ul {
	padding: 0 0 .25em 1.25em; /* bot & left */
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer p {
	text-align: center;
	background-color: #931420;
	color: white;
	padding: 1em 0; /* top & bot 1em*/
}
